#Theory

1 What are data structures, and why are they important?
- it is way to organise storing data so that computer can modify it. it is importand because we can store data in it as string, number, decimal etc

2. Explain the difference between mutable and immutable data types with examples?
- mutable those data structure which can be changed example list
- immutable those data structure which can't be changed example tupple, string

3. What are the main differences between lists and tuples in Python?
- list is mutable and tuple are immutable

4. Describe how dictionaries store data?
- Dictionaries store data in key : value form

5. Why might you use a set instead of a list in Python?
- set automatically remove duplicates and it is bit faster than list.

6. What is a string in Python, and how is it different from a list?
- string are immutable normal text line name , any identy which write in form of "string"
and it if different from list because many string, numbers, boolean, float make list.

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, so once defined, their content cannot be changed.

8. What is a hash table, and how does it relate to dictionaries in Python?
- it helps to connect key with values dictionaries implemented hash tables.

9.  Can lists contain different data types?
- yes, it can contain float, string, bullean

10. Why are strings immutable in Python?
- to ensure memory efficiency.

11. Advantages of dictionaries over lists?
- dictionary have key and value pair
- better arangement of data

12. When to prefer a tuple over a list?
- when we need immutable data like client id or patient name.

13. How sets handle duplicates?
- Sets automatically discard duplicates.

14. 14. How “in” keyword works for lists vs dictionaries?
- in lint values
- in dictionary keys

15. Can you modify tuple elements?
- No. Tuples are immutable.

16.  What is a nested dictionary (with example)?
- A dictionary within another dictionary.
stalf = {"abhishek":{"age":25, "weight":79}}

17. Time complexity of accessing elements in a dictionary?
- no complexicity

18. When are lists preferred over dictionaries?
- when data is simple
- values not labeled

19. Why are dictionaries considered unordered (until Python 3.6+)?
- Because traditional dicts didn’t preserve insertion order. Now they do, but retrieval is still key-based.

20. List vs Dictionary in data retrieval?
- list data in form of values
- dictionary in form of keys

# practical questions

In [2]:
# Create a string with your name and print it?

Name = "Abhishek Jayant"
print(Name)

Abhishek Jayant

In [4]:
#Find length of the string "Hello World"?

word="hello world!"
length=len(word)
print(length)

12

In [5]:
# Slice first 3 characters from "Python Programming"

s= "Python Programming"
print(s[0:3])

Pyt

In [8]:
#Convert "hello" to uppercase?

A = "hello"
print(A.upper())

HELLO

In [9]:
#Replace "apple" with "orange"?

word = "i love apple"
word = word.replace("apple", "orange")
print(word)

i love orange

In [11]:
#  Create a list with numbers 1 to 5 and print?
numb = [1, 2, 3, 4, 5]
print(numb)

[1, 2, 3, 4, 5]

In [19]:
# Append 10 to [1, 2, 3, 4]
num = [1, 2, 3, 4 ]
A = num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [20]:
#Remove 3 from [1, 2, 3, 4, 5]?
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [21]:
# Access the second element in ['a', 'b', 'c', 'd']?

Abhi = ['a', 'b', 'c', 'd']
print(Abhi[1])

b

In [28]:
#Reverse the list [10, 20, 30, 40, 50]

list_abhi = [10, 20, 30, 40, 50]
list_abhi.reverse()
print(list_abhi)

[50, 40, 30, 20, 10]

In [29]:
# Create a tuple with the elements 100, 200, 300?
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [32]:
#Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

A = ('red' , 'green', 'blue', 'yellow')
print(A[-2])

blue

In [33]:
#Find the minimum number in the tuple (10, 20, 5, 15)?
ab = (10, 20, 5, 15)
print(min(ab))

5

In [35]:
# Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')?

animal= ('dog', 'cat', 'rabbit')
print(animal.index("cat"))

1

In [38]:
# Create a tuple with 3 fruits and check if "kiwi" is in it?

fruit = ('apple', 'banana', 'mango')
print( "kiwi" in fruit)

False

In [43]:
# Create a set with 'a', 'b', 'c' and print it?
sets = {'a', 'b', 'c'}
print(sets)

{'c', 'b', 'a'}

In [46]:
# Clear all elements from the set {1, 2, 3, 4, 5}?
Sets = {1, 2, 3, 4, 5}
Sets.clear()
print(Sets)

set()

In [47]:
# Remove 4 from the set {1, 2, 3, 4}?
Sets = {1, 2, 3, 4}
Sets.remove(4)
print(Sets)

{1, 2, 3}

In [50]:
# Find the union of {1, 2, 3} and {3, 4, 5}

set1 = {1,2,32}
set2 = {3,5,9}
A= set1.union(set2)
print(A)

{32, 1, 2, 3, 5, 9}

In [52]:
# Find the intersection of {1, 2, 3} and {2, 3, 4}?

sets1 = {1,2,3}
sets2 = {2,3,4}
print(sets1.intersection(sets2))

{2, 3}

In [54]:
# Create a dictionary with keys "name", "age", "city" and print it?

peo = {'name': 'Abhishek', 'age':25 , 'city':"delhi"}
print(peo)

{'name': 'Abhishek', 'age': 25, 'city': 'delhi'}

In [57]:
# Add "country": "USA" to dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'usa'
print(person)

{'name': 'John', 'age': 25, 'country': 'usa'}

In [63]:
# Access the value associated with "name" in {'name': 'Alice', 'age': 30}?
d1 = {'name': 'Alice', 'age': 30}
print(d1["name"])

Alice

In [66]:
# Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}?
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2.pop("age")
print(d2)

{'name': 'Bob', 'city': 'New York'}

In [67]:
#  Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}?
d3 = {'name': 'Alice', 'city':'paris'}
print("city" in d2)

True

In [70]:
# Create a list, tuple, and dictionary and print them?
d8 = [1, 2, 3, 4, 5]
d9 = (1, 2, 3, 4, 5)
d10 = {'name' : 'abhi'}
print(d8)
print(d9)
print(d10)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'abhi'}

In [75]:
# create a list of 5 random numbers (1–100), sort it, and print?
import random
ran_num = random.sample(range(1, 101), 5)
ran_num.sort()
print(ran_num)

[1, 27, 31, 65, 76]

In [81]:
# Create a list with strings and print the element at index 3
Aj = ["bike", "car" , "bus", "cycle"]
print(Aj[3])

cycle